.home-img {
  height: 600px;
  width: 100%;
}
.text-img {
  text-align: center;
  color: white;
  height: 550px;
  width: 100%;
  background-color: rgb(24, 18, 64);
  background-size: cover;
  background-image: url(https://images.unsplash.com/photo-1453413827166-b8eed9851c66?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wyNjI5NjF8MHwxfHNlYXJjaHw1N3x8UGV0JTIwU2l0dGluZ3xlbnwwfHx8fDE3MTA0MzYzMjR8MA&ixlib=rb-4.0.3&q=80&w=1080&quot;);
  background-position: 70% 70%;
  background-size: cover;
}
.text-img h1 {
  font-size: 80px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
.text-img p {
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin-top: -50px;
}
